 nav {
 display: flex;
  }
  nav .nav {
  display: flex;
  font-size: 15px;
  }
  nav .nav .store {
    margin-left: 10px;
    padding-right: 15px;
  }
  nav .cta {
    margin-left: auto;
  }
  nav .cta button {
    border: 0;
    background: transparent;
  }

  a {
    margin-left: 15px;
  }

  .center-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}