 /* Navigation */
 nav {
 display: flex;
  }
  nav .nav {
  display: flex;
  font-size: 15px;
  }
  nav .nav .store {
    margin-left: 10px;
    padding-right: 15px;
  }
  nav .cta {
    margin-left: auto;
  }
  nav .cta .gmail, .images {
    border: 0;
    background: transparent;
  }

  a {
    margin-left: 15px;
  }

  a:hover, a:active {
    text-decoration: underline;
}

.sign-in {
  background-color: #4583EE;
}

/* Google Image */

  .center-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}



.search-bar {
  text-align: center;
}

/* Form  */

/* Footer */